.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin: 22em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}
button {
  margin: 10px;
}

.list-group {
  display: flex;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
  justify-content: center;
}

li {
  margin: 2px;
  border: #61dafb;
  align-self: auto;
  text-align: center;
  vertical-align: middle;
}

.App-header {
  background-color: white;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand {
  font-size: xx-large;
  font-weight: 900;
}
